.newsletter {
    position: fixed;
    bottom: 0px;
    height: 51.4%;
    width: 100%;
    z-index: -1;
}
.info {
    position: fixed;
    bottom: 0px;
    height: 51.4%;
    width: 55%;
    margin-left: 45%;
    z-index: -1;
}
.info h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}
.info p {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.legal {
    text-align: right;
    margin-right: 55px;
    margin-top: 40px;
}
fieldset {
    border: 0;
}
.newsletter legend {
    margin-left: 21.6%;
    margin-top: .2%;
}
.newsletter .input-field {
    display: block;
    margin: 10px auto 10px 16%;
    padding: 5px 30px 5px 50px;
    width: 20%;
    text-align: center;
    font-size: 14px;
}
.newsletter select {
    display: block;
    margin: 10px auto 10px;
    margin-left: 23.7%;
}
.newsletter input[type=submit] {
    width: 10.6%;
    margin-left: 24%;
}
input:valid {
    color: blue;
}
input:invalid {
    color: red;
}
.newsletter label {
    float: left;
    clear: left;
    padding-top: 9px;
    width: 182px;
    margin-left: 1%;
    text-align: right;
}
.newsletter label[for=part] {
    padding-top: 0px;
}
.newsletter label:not([for=email]) {
    margin-top: -1px;
}
