  body {
    background: url(pictures/background.jpg) fixed;
    margin-left: 0;
    margin-right: 0;
    margin-top: -23px;
    opacity: .999999;
  }
  .content {
    background-color: #ededed;
    width: 99%;
    height: 66%;
    margin-left: .5%;
  }
  .subcontent1 {
    h2 {
      text-align: center;
    }
  }